@page "/"
@namespace NotificationCenter.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NotificationCenter</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.0.4/jsoneditor.min.js" integrity="sha512-8ui6NfUrJH7tponbZd5Lai3dqToJ9x7rQQRqaNtdNuVdsuOkoTMEitV2jfRsJ3stEYjSsn8n+9nnvTv0i1hb7g==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.0.4/jsoneditor.min.css" integrity="sha512-PWaHjZQo6KuaDHCDvl1WEePqV8hGiJc4vzec7iH7dIX67ql/s3S47xRBptJfHfcffENdIp/pMHKY7rfkiE3Osw==" crossorigin="anonymous" />
    <script src="~/jsonEditor.js"></script>
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>

</body>
</html>
